In [1]:
import pandas as pd

In [2]:
online_retail=pd.read_excel('Online Retail.xlsx')

In [3]:
UK_retail=online_retail[online_retail.Country == 'United Kingdom']
UK_retail=UK_retail.reset_index(drop=True)

In [4]:
UK_retail['InvoiceNo'] = UK_retail['InvoiceNo'].astype('str')

In [5]:
UK_retail=UK_retail[UK_retail.InvoiceNo.str.contains('C')]
UK_retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7856 entries, 121 to 495365
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    7856 non-null   object
 1   StockCode    7856 non-null   object
 2   Description  7856 non-null   object
 3   Quantity     7856 non-null   int64
 4   InvoiceDate  7856 non-null   datetime64[ns]
 5   UnitPrice    7856 non-null   float64
 6   CustomerID   7533 non-null   float64
 7   Country      7856 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 552.4+ KB

In [6]:
UK_retail=UK_retail[~UK_retail.InvoiceNo.str.contains('C')].reset_index(drop=True)

In [7]:
UK_retail.isnull().sum()

InvoiceNo      0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
UnitPrice      0.0
CustomerID     0.0
Country        0.0
dtype: float64

In [8]:
UK_retail=UK_retail.dropna(subset=['Description']).reset_index(drop=True)
UK_retail.isnull().sum()

InvoiceNo      0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
UnitPrice      0.0
CustomerID     0.0
Country        0.0
dtype: float64

In [9]:
UK_retail.Description=UK_retail.Description.str.strip()

In [10]:
UK_retail.Quantity= UK_retail['Quantity'].abs()

In [11]:
UK_retail

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [12]:
transactions=UK_retail.groupby(['InvoiceNo', 'Description'])['Quantity']\
.sum().unstack().fillna(0)

In [13]:
transactions

Empty DataFrame
Columns: []
Index: []